@keyframes showText {
  from {
    transform: translate(10px, -50%);
  }

  to {
    transform: translate(20px, -50%);
  }
}

@keyframes showArrow {
  from {
    transform: translate(6px, -50%) rotate(45deg);
    background-color: var(--secondary);
  }

  to {
    transform: translate(16px, -50%) rotate(45deg);
    background-color: var(--secondary);
  }
}

.menu-tooltip {
  position: relative;

  &__text {
    position: absolute;
    inset: 50% auto auto 100%;
    transform: translate(20px, -50%);
    padding: 16px;
    border-radius: 8px;
    background-color: var(--secondary);
    animation: showText 0.2s;
    z-index: 1;
  }

  &__arrow {
    position: absolute;
    inset: 50% auto auto 100%;
    transform: translate(16px, -50%) rotate(45deg);
    width: 8px;
    height: 8px;
    background-color: var(--secondary);
    animation: showArrow 0.2s;
    z-index: 0;
  }
}
