@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  & > svg {
    color: var(--primary);
    animation: spin infinite linear 2s;
  }
}
