.card-pet {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--white);

  &__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
    aspect-ratio: 1/1;
  }

  &__information-container {
    display: flex;
    flex-direction: column;

    & > span {
      &:nth-child(1) {
        color: var(--gray4);

        font-size: 0.8rem;
      }

      &:nth-child(2) {
        overflow: hidden;
        text-overflow: ellipsis;

        font-size: 1.2rem;
      }
    }
  }
}
