@keyframes showModal {
  from {
    transform: scale(0) translate(50%, -50%);
    opacity: 0;
  }

  to {
    transform: scale(1) translate(50%, -50%);
    opacity: 1;
  }
}

.modal-background {
  position: fixed;
  inset: 0;
  background-color: #00000088;
  z-index: 100;
}

.modal {
  position: fixed;
  inset: 50% 50% auto auto;
  padding: 16px;
  border-radius: 16px;
  transform: scale(1) translate(50%, -50%);
  background-color: var(--white);
  animation: showModal 0.2s linear;
  z-index: 101;
  transform-origin: top right;

  & > div {
    border-bottom: 2px solid var(--gray2);
    margin-bottom: 16px;
    padding-bottom: 16px;

    &:last-child {
      margin: 0;
      padding: 0;
      border: none;
    }
  }

  &__header,
  &__footer {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
  }
}
