import * as S from "./{{pascalCase name}}.styles";

const {{pascalCase name}} = () => {
  return (
    <S.Container>
      <span>{{pascalCase name}}</span>
    </S.Container>
  );
};

export { {{pascalCase name}} };
