:root {
  --primary: #00a17e;
  --primaryDark: #008165;
  --secondary: #6f00ff;
  --secondaryDark: #5800ca;
  --success: #28b328;
  --success: #239623;
  --successDark: #277a27;
  --error: #c91212;
  --errorDark: #9b0f0f;
  --gray1: #ddd;
  --gray2: #bbb;
  --gray3: #888;
  --gray4: #444;
  --black: #333;
  --white: #fff;

  --box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.2s;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--gray1);
}

*::-webkit-scrollbar-thumb {
  background: var(--gray2);
  border-radius: 16px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--gray3);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:hover:disabled {
  cursor: not-allowed;
}
