* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.2s;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: lightgray;
}

*::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 16px;
}

*::-webkit-scrollbar-thumb:hover {
  background: lightslategray;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:hover:disabled {
  cursor: not-allowed;
}
