:root {
  --primary: #00a17e;
  --primaryDark: #008165;
  --secondary: #6f00ff;
  --secondaryDark: #5800ca;
  --success: #28b328;
  --error: #c91212;
  --gray1: #ddd;
  --gray2: #bbb;
  --gray3: #888;
  --gray4: #444;
  --black: #333;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.2s;

  font-family: Verdana, Geneva, Tahoma, sans-serif;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--gray1);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--gray2);
    border-radius: 16px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--gray3);
  }
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    &:disabled {
      cursor: not-allowed;
    }
  }
}
